.nav-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.da-form {
  margin-left: auto;
}
.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
.spinner {
  margin-top: 66px;
  height: 4px;
  background-color: white;
}
img {
  max-height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline;
}
