.nav-items-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.da-form {
  margin-left: auto;
}
.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
.spinner {
  margin-top: 52px;
  height: 4px;
  background-color: white;
}
